{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "no-console": "off",
    "no-unused-vars": "off",
    "react/no-unescaped-entities": "off"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
